body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(231, 211, 198);
    font-family: sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 420px;
    margin: auto;
    background-color: rgb(201, 210, 213);
    border-radius: 10%;
    padding-top: 20px;
}

.buttons {
    display: flex;
    margin: 10px 50px;
    justify-content: space-around;
    width: 400px;
    height: 400px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 300px;
    border: 0px;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    border: 0px;
}

.input {
    display: flex;
    height: 100px;
    width: 360px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: rgb(168, 185, 190);
    border-radius: 15px;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
    padding: 0px 10px;
}

button {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 50%;
    font-size: 40px;
}

.operator {
    margin: auto 10px;
}
